:root {
  --mainBc: #fdf5f5;
  --textColor: #29094a;
  --btnColor:#404040;
  --btnBc:#a75c5c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px; /* good base for rem scaling */
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: var(mainBc);
  color: var(--textColor);
  line-height: 1.6;
  /* padding: 1rem; */
}

/* Optional base spacing utility for sections */
section {
  margin-bottom: 2rem;
}

.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
/* Base style */
/* Remove header after installing react-router-boostrap to use LinkContainer */
/* header {
  background-color: #404040;
  padding: 1rem;
}
header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
} */

/* Style products */
main {
  padding: 1rem;
}
